<body background="/assets/business_female.jpg">

	<div id="main-nav">
		<div id="masthead">Job Trackr</div>
		<div id="tagline">Career Search Organizer</div>

		<div id="home-buttons">
			<div id="home-button2"><a href="/accounts/sign_up">Sign Up</a></div>
			<div id="home-button1"><a href="/accounts/sign_in">My Jobs</a></div>
		</div>

	</div>

	<div id="notices-home">
		<div class="login-status">
		    <% if current_user %>
		      <li><%= link_to "Signout ( #{current_user.email} )", destroy_user_session_path, :method => :delete %></li>
		    <% end %>
		</div>
		<p id="notice"><%= notice %></p>
	</div>

<br><br>

</body>





