<div id="tagline">Career Search Task Manager</div>
<div id="home-buttons">
	<div id="home-button2"><a href="/accounts/sign_up">Sign Up</a></div>
	<div id="home-button1"><a href="/accounts/sign_in">Sign In</a></div>
</div>






