@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700);
@import url(https://fonts.googleapis.com/css?family=Raleway);

/* css is in descending order by affected scope (id followed by class, etc.), then alphabetical order */

* {
  box-sizing: border-box;
  list-style: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%; /* for background image to have no white space at the bottom regardless of viewport height */
}

a:link { color: #666; text-decoration: none; }
a:visited { color: #666; }
a:hover { color: rgba(0,0,0,0.3); }
a:active { color: #666; }

body {
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: arial, sans-serif;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .8em;
  margin: 0 auto;
}

h2 {  /* flash message headings for sign_in/sign_up */
  color: #5b5b5b;
  font-size: 12px;
  padding: 2px;
  text-align: center; 
  text-transform: capitalize;
}

ul { /* red flash messages for sign_in/sign_up */
  font-size: 12px;
  margin-right: 40px;
}

input[type="submit"] {
  background-color: #95d1dc;
  border: 2px solid #95d1dc;
  /*color: rgba(255,255,255,1);*/
  color: #5b5b5b;
  font-size: 1.1em;
  font-weight: 700;
  height: 20%;
  margin-top: 2%;
  margin: 0 auto;
  padding: 5px;
/*  width: 65%;*/
  width: 200px;
}

input[type="submit"]:hover {
  color: rgba(255,255,255,.7);
  cursor: pointer;
}

input, textarea {
  background-color: none;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  color: gray;
  margin-bottom: 8px;
  margin-top: 4px;
  padding: 8px;
  width: 100%;
}

label {
  font-size: 1.1em;
  text-transform: capitalize;  /* words above sign_in/sign_up text fields */
}

table {
  background-color: rgba(255, 255, 255, 0.70);
  border: 1px solid #efefef;
  border-collapse: collapse; /* eliminates spaces in border-bottom between table data items */
  margin: 0 auto;
  padding: 5px;
  text-align: left;
  width: 100%;
 }

tbody {
  display: block;
  height: 375px;
  overflow-y: auto;
}

td {
  background-color: rgba(255, 255, 255, 0.60);
  font-weight: 400;
  padding: 5px;
}

th {
  background-color: rgba(255, 255, 255, 0.60);
  display: block;
  float: left;
  font-weight: 700;
  padding: 5px;
  position: relative;
 }

td:nth-child(1), th:nth-child(1) { min-width: 120px; } /* for table headers to line up w/td rows */
td:nth-child(2), th:nth-child(2) { min-width: 150px; }
td:nth-child(3), th:nth-child(3) { min-width: 150px; }
td:nth-child(4), th:nth-child(4) { min-width: 300px; }
td:nth-child(5), th:nth-child(5) { width: 300%; }

td:nth-child(4), td:nth-child(5) {
  word-break: break-all;  /* enables word-wrap for urls so table is responsive */
}

td:nth-child(6) {  /* "More Info" link */
  font-weight: 500;
}

td:nth-child(6) :hover {
  color: rgba(0,0,0,0.4)
}

tr.content:nth-child(odd) {  /* zebra striping for job table data */
  background-color: rgba(215,215,215,.7)
}

ul {
  font-size: 1.1em;
  text-align: center;
}

#error_explanation, #flash_alert {  /* wrapper for devise sign_in/sign_out error messages */
  color: red;
  font-size: 11px;
  font-weight: 500;
  height: 100%;
  text-transform: capitalize;
  width: 100%;
}

#home-button1, #home-button2 {
  border: 2px solid #5b5b5b;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  height: 42px;
  margin: 10px;
  outline: none;
  padding: 9px 25px;
  text-align: center;
  text-transform: uppercase;
  width: 125px;
}

#home-button1 a, #home-button2 a {
   color: #5b5b5b;
}

#home-button1:hover, #home-button2:hover {
   background: rgba(255,255,255,1);
}

#home-buttons {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;   /* don't need -moz- prefix */
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-top: -65px;
}

#job_app_dt {  /* for date picker field in job form */
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-nav {
  background-color: rgba(255, 255, 255, 0.80);
  height: 80px;
  padding: 1px; /* forces navbar to top of viewport */
  margin-bottom: 5px;
}

#masthead {
  color: #5b5b5b;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.7em;
  font-weight: 700;
  margin-left: 19px;
  margin-top: 5px;
}

#notice {  /* red flash messages for devise */
  color: #ab171e; 
  margin-bottom: 3px;
  text-align: right;
  text-transform: capitalize;
}

#notices-home { /* red flash messages for devise on home page */
  margin-right: 15px;
  margin-top: 20px;
}

#notice-jobs {  /* red flash messages for devise after sign_in or sign_up */
  color: #ab171e;
 /* margin-bottom: 80px;*/
  margin-top: -38px;
  text-align: right;
  width: 100%;
}

#notices-jobs {  /* container for red flash messages and .login-status */
  margin: -47px 15px 5px 0px;
  text-align: right;
}

#table-home {
  margin: 0 auto;
  width: 90%;
}

#tagline {  /* words below masthead */
  color: #666;
  font-size: 1.4em;
  font-weight: 500;
  margin-left: 21px;
  margin-top: 5px;
}

#td-row {  /* for index row buttons to have space between them */
  font-size: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: right;
}

#td-row a { 
  margin-left: 8px;
  width: 10%;
}

#user_remember_me {
  margin-left: 0px;
  max-width: 15px;
}

.actions {
  background-color: none;
  border-radius: 2px;
  color: gray;
  margin: 0 auto;
  margin-bottom: 8px;
  margin-top: 4px;
  padding: 8px;
  width: 85%;
}

.field {   /* text fields for sign_in/sign_up and jobs form */
  color: #5b5b5b;
  font-size: .9em;
  font-weight: 500;
  height: 80%;
  margin:0 auto;
  margin-top: 5px;
  text-align: left;
  width: 85%;
}

.container {
  background-color: rgba(255, 255, 255, 0);
  color: #5b5b5b;
  font-weight: 700;
  height: 100%;
  margin: 0 auto;
  margin-top: 55px;
  padding: 1px;
  text-align: left;
  width: 90%;
}

.container-content {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  margin-top: 30px;
  padding: 5px;
  width: 90%;
}

.container-content p {  /* for jobs show page */
  font-weight: 400;
  margin: 5px 5px 5px 15px;
  word-break: break-all;
}

.container-home {
  background-color: rgba(255, 255, 255, 0);
  color: #5b5b5b;
  font-weight: 700;
  height: 100%;
  margin: 0 auto;
  margin-top: 25px;
  padding: 1px;
  text-align: left;
  width: 90%;
}

.container-medium {
  background-color: rgba(0,0,0,0);
  color: #5b5b5b;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 5px;
  padding-top: 2px;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
}

.container-medium a:hover {  /* nav links on job pages */
  background: rgba(255,255,255,.4);
}

.container-medium a {
  border: 2px solid #666;
  color: rgba(0,0,0,0.6);
  padding: 10px 20px 10px 20px;
}

.container-medium a:nth-child(n+2) {
  margin-left: 15px;
}

.container-medium-home  {
  background-color: rgba(0,0,0,0);
  color: #5b5b5b;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 2px;
  margin-top: 8px;
  padding-bottom: 5px;
  padding-top: 2px;
  text-align: center;
  width: 100%;
}

.container-medium-home a {  /* nav link on job home page */
  background-color: #C3EBF3;
  color: rgba(0,0,0,0.6);
  margin-right: 10px;
  padding: 10px 20px 10px 20px;
}

.container-medium-home a:hover {  
  color: rgba(0,0,0,0.3); 
}

.container-small {
  background-color: rgba(255, 255, 255, 0.70);
  color: #5b5b5b;
  height: 90%;
  margin: 0 auto;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  width: 35%;
}

.devise-links {  /* devise/shared/_links.html.erb */   
  color: #5b5b5b;
  font-weight: 500;
  text-align: center;  
}

.field_with_errors {
  color: red;
  padding: 2px;
  text-align: left;
}

.login-status {    /* devise sign_in/sign_out notices */
  color: #5b5b5b;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: -15px;
  text-align: right;
}

.login-status-jobs {
  margin-bottom: 5px;
  margin-top: 23px;
}

.table-button {
  /*background-color: rgba(149, 209, 220, 0.4); */
  background-color: #C3EBF3;
  color: rgba(0,0,0,0.6);
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px 5px 10px; 
}

.table-button a {
  color: rgba(0,0,0,0.6);
}

.table-button a:hover {  
  background-color: rgba(149, 209, 220, 0.9); 
}

.time {
  text-transform: capitalize;  /* for time_ago_in_words in jobs/index.html.erb */
}

@media only screen and (max-width: 850px) {

  td, th {
    font-size: 80%;
  }

  #home-buttons {
    display: block;
    justify-content: flex-end;
    margin-bottom: 5px;
    margin-left: 6px;
    margin-top: 35px;
  }

  #home-button1, #home-button2 {
    background-color: rgba(255, 255, 255, 0.70);
    border: solid 1px #666;
    color: #666;
    font-size: 13px;
    font-weight: 500;
    height: 38px;
    padding: 11px;
    width: 100px;
  }

  #main-nav {
    background-color: rgba(255, 255, 255, 0.70);
    padding: 1px;
  }

  #masthead {
    font-size: 2.2em;
    margin-left: 15px;
    margin-top: 5px;
  }

  #notice {
    height: 25px;
    margin-top: 5px;
    text-align: left;
    width: 150px;
  }

  #notice-jobs {  /* red flash messages for devise */
    background-color: rgba(255, 255, 255, 0.80);
    margin-bottom: -40px;
    margin-left: 15px;
    margin-top: 10px;
    text-align: left;
    width: 350px;
  }

  #notices-jobs {
    margin-left: 1px;
    margin-top: -25px;
  }

  #notices-home {
    margin-left: 17px;
    margin-top: -25px;
  }

  #tagline {
    font-size: 1.2em;
    margin-left: 17px;
    margin-top: 0px;
  }

  #td-row {  /* for index row buttons to have space between them */
    font-size: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
  }

  #td-row a { 
    margin-left: 5px;
  }

  .container {
    /*margin-top: 85px;*/
    width: 100%;
  }

  .container-small {
    width: 60%;
  }

  .container-medium {
    width: 75%;
  }

  .container-medium a {
    font-size: 80%;
    padding: 5px 10px 5px 10px;
  }

  .container-medium a:nth-child(n+2) {
  margin-left: 5px;
  }

  .login-status {   /* devise notices */
    margin-top: 5px;
    text-align: left;
  }

  .login-status-jobs {
    margin: -5px 0px 5px 15px;
    text-align: left;
  }

}


