/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Roboto:400&subset=latin,greek);
/* @import url(https://fonts.googleapis.com/css?family=Lato);*/
@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

a:link { text-decoration: none; }
a:hover { color: #666; }
a:visited { color: #666; }
a:active { color: #666; }

html {
 	height: 100%; /* background image has no white space at the bottom regardless of viewport width */
}

body {
	background-color: #eee;
	font-family: arial, sans-serif;
	font-size: .8em;
	background-image: url('/assets/business_female.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 auto;
}

table {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	border-collapse: collapse; /* eliminates spaces in border-bottom between table data items */
	padding: 5px;
	text-align: left;
	background-color: white;
 }

th {
	border-bottom: 2px solid gray;
	padding: 5px;
 }

td {
	padding: 5px;
	border-bottom: 1px solid gray;
}

#home-button1, #home-button2 {
	width: 125px;
	height: 42px;
	color: #666;
	background: rgba(0,0,0,0);
	border: solid 2px #666;
	font-size: 16px;
	text-align: center;
	margin: 10px;
	padding: 10px 25px;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
}

#home-buttons {
	display: flex;
	margin-top: -75px;
	justify-content: flex-end;
}

#main-nav{
	height: 65px;
	background-color: rgba(255, 255, 255, 0.50);
	padding: 1px;
}

#masthead {
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 20px;
    font-weight: 700;
    font-size: 1.7em;
    color: #666;
    margin-top: -17px;
}

#tagline {
	margin-left: 20px;
	color: #666;
	font-size: 1em;
}

@media only screen and (max-width: 850px) {

	#home-buttons {
		display: block;
		margin-top: 65px;
		justify-content: flex-end;
	}

	#home-button1, #home-button2 {
		width: 100px;
		height: 38px;
		color: #666;
		font-size: 12px;
	}

	#main-nav{
		height: 60px;
		padding: 4px;
	}

	#masthead {
		margin-left: 15px;
		font-size: 1.5em;
	}

}

