<!DOCTYPE html>
<html>
<head>
  <title>JobTrackr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main-nav">
		<div id="masthead"><a href="/">Job Trackr</a></div>
	</div>

<%= yield %>

</body>
</html>
